:root {
  --bg-color: white;
  --for-color: #08090b;
  --bg-color-hover: #888;
  --bg-color-hover-dark: #222;
  --text-color-link: #18e299;
  --text-color-hover: #90ecc5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 75%;
  min-height: 1000px;
  color: var(--bg-color);
  background-image: url("images/bg-light.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
  background-position: center calc(1% - 225px);
}
#main {
  /* background-image: url('images/bg-light.svg');
    background-repeat:no-repeat;  */
  /* background-color: #cccccc; */

  margin: 0px 20%;
  padding: 5px;
  display: flex;
}
#header {
  position: fixed;
  width: 65%;
}
#menu {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
}
#menu div {
  text-align: center;
}
#menu .third {
  text-align: end;
}
#menu img {
  height: 24px;
}

#menu ul {
}
#menu ul li {
  display: inline;
  opacity: 80%;
}
#menu ul li a {
  color: var(--bg-color);
  text-decoration: none;
  font-size: 15px;
  padding: 10px 10px;
}
#menu ul li a:hover {
  border: 0.1px solid var(--bg-color);

  border-radius: 10px;
}
#menu div div button {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: large;
}
#menu div .dark {
  background-color: rgb(15, 86, 122);
  /* opacity: 5%; */
  color: var(--bg-color);
  border-radius: 16px;
  padding: 8px 16px;
}
#menu div .light {
  border-radius: 16px;
  padding: 8px 16px;
}

#content {
  margin-top: 64px;
}
#preview {
  margin-top: 50px;
}

#preview img {
  border-radius: 16px;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
#hero div h1 {
  padding: 20px;
  align-items: center;
  font-size: 56px;
  text-align: center;
}
#hero div p {
  font-size: 18px;
  padding: 10px;
}
#hero .email {
  color: #fff;
  border-radius: 20px;
}
#hero .email input {
  text-decoration: none;
  border-radius: 20px;
  border: 0.15px solid #fff;
  background-color: rgba(240, 235, 235, 0.1);
  padding: 12px 10px;
  min-width: 250px;
  outline: none;
  color: #fff;
  border: none;
  font-weight: bold;
}
#hero .email input::placeholder {
  color: white;
  opacity: 0.5;
}
#hero .email button {
  text-decoration: none;
  border-radius: 20px;
  border: 0.15px solid #fff;
  background-color: #fff;
  padding: 10px 15px;
  outline: none;
  border: none;
}

#features {
  color: #08090b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#features div h2 {
  padding: 20px;
  align-items: center;
  font-size: 32px;
  text-align: center;
}

#features div p {
  font-size: 18px;
  padding: 10px;
  color: #4b5363;
}


#features .cardmain{
display: flex;
flex-direction: row;
}

#features .cardmain .card{
  border: #d1d3d8 solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
#features .cardmain .card .green{
  color: #47997b;
  font-size: 14px;
 font-weight: bold;
}

.svg-con{
width: 100%;      /* Makes the image scale with the div's width */
    height: auto;     /* Maintains the aspect ratio */
    display: block;   /* Helps remove extra space issues */
    margin: auto;
}
#Intelligent{
    border: #d1d3d8 solid 1px;
  border-radius: 10px;
  margin-top: 30px;
    color: #08090b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}

 .green{
  color: #47997b;
   font-size: 14px;
 font-weight: bold;
}

#Intelligent h3{
  padding: 10px;
  font-size: 24px;
   color: #4b5363;
   margin: 10px 20px;
}

#Intelligent p{
   margin: 10px 20px;
   padding: 10px;
}

#enterprise{
  background-color: hsl(228, 26%, 96%);
  color: #08090b;
  padding: 20px 40px;
    /* display: flex;
flex-direction: row; */

}

#enterprise h2{
    padding: 20px;
  font-size: 32px;
} 
#enterprise .cardmain{
  display: flex;
flex-direction: row;
align-items: end;
}

#case-study{
  color: #08090b;
}
#case-study .green{
  color: #47997b;
}
#case-study .row{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
   grid-template-columns: repeat(4, 1fr); 
       grid-auto-flow: column; 
       border-radius: 10px ;
grid-auto-columns: calc(25% - 20px); 
overflow-x: auto;     
  overflow-y: hidden; 
   gap: 20px;
}

#case-study .row > div {
    
    grid-row: 1; 
    
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}